<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
    <h1>Restablecimiento de Contraseña</h1>
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <form action="/auth/reset-password/{{token}}" method="post">
        <label for="password">Nueva contraseña:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirmar nueva contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Restablecer contraseña</button>
    </form>
</body>
</html>